*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-image: url(../images/360_F_492229389_5ve1bCKgYrLRHpCj3o4FAzz60efaZgG0.jpg);
  display: flex;
  justify-content: center;
}

.top_title{
  display: flex;
  justify-content: center;
  font-size: 50px;
  /* text-align: center; */
  color: white;
}

.test{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: white solid 2px;
}

.meme_img{
  width: 500px;
  position: fixed;
  top: 300px;
  left: 100px;
}

.meme_img_2{
  width: 300px;
  transform: rotate(-60deg);
  position: fixed;
  top: -50px;
  right: -20px;
}

.meme_img_3{
  width: 200px;
  position: fixed;
  top: 700px;
  right: 300px;
  z-index: 4;
}

.meme_img_4{
  width: 200px;
  position: fixed;
  top: 700px;
  right: 300px;
  z-index: 2;
}

.diologe{
  width: 80px;
  position: fixed;
  top: 700px;
  right: 420px;
  z-index: 3;
  /* display: none; */
}

.meme_img:hover{
  animation-name: meme_img;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.meme_img_2:hover{
  animation-name: meme_img_2;
  /* transform: translateX(50px) rotate(15deg); */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.meme_img_3:hover{
  /* animation-name: meme_img_3;
  animation-duration: 10s;
  animation-fill-mode: forwards; */
  display: none;

}

.meme_img_4:hover{
  display: flex;
}

.questions{
  border: white solid 1px;
}

img{
  width: 400px;
}

.title{
  display: flex;
  justify-content: center;
  border-bottom: white solid 2px;
}

h3{
  color: white;
}

.question{
  width: 600px;
}

.answers{
  display: flex;
  flex-flow: column wrap;
  /* align-items: center; */
  justify-content: center;
}

input{
  display: block;
  margin-top: 20px;
  border-radius: 0;
  border: none;
  padding: 5px;
}

input:hover{
  background-color: rgb(245, 245, 109);
}

.answer{
  display: flex;
  justify-content: center;
  padding: 10px;
  border: blue solid 2px;
  background-color: white;
  text-transform: uppercase;
}

@keyframes meme_img_2{
  0% {
    transform: translateY(0) rotate(-60deg);
  }

  100% {
    transform: translate(70px, -70px) rotate(-60deg);
  }
}

@keyframes meme_img{
  0%{
    transform: rotate(0deg);
  }
  /* 25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  } */
  100%{
    transform: rotate(360deg);
  }
}

/* @keyframes meme_img_3 {
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(1000px);
  } 
} */
